<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="dashboard-container">
    <h2>Penitipan MOTOR</h2>
    <p>Selamat datang di Sistem Penitipan Motor!</p>
    <nav>
        <ul>
            <li><a href="/pelanggan">Data Pelanggan</a></li>
            <li><a href="/kendaraan">Data Kendaraan</a></li>
            <li><a href="/transaksi">Data Penitipan</a></li>
            <li><a href="/pegawai">Data Pegawai</a></li>
        </ul>
    </nav>
    <div class="auth-links">
    <a href="/logout">Logout</a>
        </div>
    </div>
</body>
</html>
